body{
	background-color: #00447F;
	width: 1024px;
	height: 768px;
	margin-left: auto;
	margin-right: auto;
}

#sidebar{
	background-color: #4CACFF;
	width: 341px;
	float: left;
}

main{
	background-color: #0089FF;
	width: 682px;
	height: 100px;
	float: left;
}